NODE_ENV=development
PORT=3000
APP_NAME=kingofthecolony-node
API_PREFIX=/api
ENABLE_SWAGGER=true

JWT_ACCESS_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
JWT_ISSUER=kingofthecolony-node
JWT_AUDIENCE=kingofthecolony-clients

DATABASE_PROVIDER=postgres
POSTGRES_URL=postgresql://kingofthecolony_app:change_me@localhost:5432/kingofthecolony_node
MONGODB_URL=mongodb://kingofthecolony_app:change_me@localhost:27017/kingofthecolony_node

POSTGRES_ADMIN_URL=postgresql://postgres:postgres@localhost:5432/postgres
POSTGRES_DB_NAME=kingofthecolony_node
POSTGRES_APP_USER=kingofthecolony_app
POSTGRES_APP_PASSWORD=change_me

MONGODB_ADMIN_URL=mongodb://root:root@localhost:27017/admin
MONGODB_DB_NAME=kingofthecolony_node
MONGODB_BOOTSTRAP_COLLECTION=app_bootstrap
MONGODB_APP_USER=kingofthecolony_app
MONGODB_APP_PASSWORD=change_me

REDIS_URL=redis://localhost:6379

CORS_ORIGIN=http://localhost:4200
LOG_LEVEL=info